body {
    max-width: 100%;
    height: auto;
    margin: auto;
    direction: rtl;
    font-family: Rubik;
    background-color:ivory;
    width: 1200px;
}

hr {
    justify-self: center;
    width: 300px;
    size: 2px;
}

.headline {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    color:ivory; 
    background-color: #d37bd3; 
    width: 100%; 
}

h1 {
    margin-right: 5%;
}

.intro{
    display: flex;
    justify-content: space-between;
}

#section{
    max-width: 50%;
    margin-right: 5%;
}

h3 {
    font-size: 1.25em;
    margin: 20px 0 20px 0;
    color:#d37bd3;  
}

p {
    line-height: 150%;
}

#p1 {
    font-size: 1.25em;
    font-weight: 500;
    color: rgb(107, 106, 106);
}

#imgIntro{
    float: left;
    margin: -5% 0 0 5%;
    max-width: 30%;
}

#img {
    width: 100%;
}

#img2 {
    width: 50%;
    display: block;
    margin: 30px auto;
    width: 50%;
    opacity: 0.9;
    
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#p2 {
    letter-spacing: 1px;
    text-indent: 50px;
    font-size: 1.25em;
    justify-self: center;
    text-align: center;
    color: #d37bd3;
    font-weight: 700;
}

#p3 {
    padding:0 5%;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
}

#p4 {
    text-align: center;
    padding:5%;
    font-size: 20px;
    font-weight: 300;
    background-color: #e6b9e6;
    border-radius: 10%;

}

#form-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#form {
   width: 50%; 
  
}

#imgFooter{
    max-width:50%;
    
}
 
#img3 {
    width: 90%;
    padding: 10px;
    opacity: 0.9;
}
